---
layout: default
title: Alice Heuff
path: home
---
{% include "./_includes/partials/carousel.html" %}

<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>
    Welcome to
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      {{title}}
    </strong>
  </h1>

  <p>
    Alice Heuff is an Amsterdam based teacher and artist. She works with oil painting and many other techniques. The main theme's in het paintings are: '50's, Jazz, Joy and Animals! Interested in one of the paintings or you want to know more?
  </p>
  <p>
    Contact me or follow me <a href="www.instagram.com/alice_heuff/">on instagram</a>!
  </p>

</div>
{% include "./_includes/partials/content.html" %}
