---
layout: default
title: Alice Heuff
path: home
---
{% include "./_includes/partials/carousel.html" %}

<div class="min-w-0 flex-auto px-4 sm:px-6 xl:px-8 pt-10 pb-24 lg:pb-16 m-2">
  <h1 class="m-3">
      <strong>{{title}}</strong>
  </h1>

  <p class="m-3">
    Alice Heuff is an Amsterdam based teacher and artist. She works with oil painting and many other techniques. The main theme's in het paintings are: '50's, Jazz, Joy and Animals! Interested in one of the paintings or you want to know more?
  </p>
  <p class="m-3">
    Contact me or follow me <a href="www.instagram.com/alice_heuff/">on instagram</a>!
  </p>

</div>
{% include "./_includes/partials/content.html" %}
